.sidx-container
    .sidx-primary-action
    .sidx-primary-action-icon-container
    i.blue {
    color: #000;
}

.hero-text-title.listing-title {
    font-size: 3em;
}

.sidx-widget-wrapper {
    background: #fff;
    padding: 15px;
}
